@model Product
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Product Table</h4>

                        <form class="forms-sample" method="post">
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input asp-for="Name" type="text" class="form-control" id="product" placeholder="Enter your name" name="name">
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ImagegUrl">Image</label>
                                <input asp-for="ImagegUrl" type="text" class="form-control" id="product" placeholder="Enter">
                                <span class="text-danger" asp-validation-for="ImagegUrl"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DepartmentId">DepartmentId</label>
                                <input asp-for="DepartmentId" type="text" class="form-control" id="product" placeholder="Enter">
                                <span class="text-danger" asp-validation-for="DepartmentId"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price">Price</label>
                                <input asp-for="Price" type="text" class="form-control" id="product" placeholder="Enter">
                                <span class="text-danger" asp-validation-for="Price"></span>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <a asp-action="index" asp-controller="product" class="btn btn-light">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>