@model Blog
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Product Table</h4>
                        <p class="card-description">
                            Create Product
                        </p>
                        <form class="forms-sample" method="post">
                            <div class="form-group">
                                <label asp-for="Title">Title</label>
                                <input asp-for="Title" type="text" class="form-control" id="product" placeholder="Enter your name">
                                <span class="text-danger" asp-validation-for="Title"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ImageUrl">Image</label>
                                <input asp-for="ImageUrl" type="text" class="form-control" id="product" placeholder="Enter">
                                <span class="text-danger" asp-validation-for="ImageUrl"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description">Description</label>
                                <input asp-for="Description" type="text" class="form-control" id="product" placeholder="Enter">
                                <span class="text-danger" asp-validation-for="Description"></span>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <a asp-action="index" asp-controller="blog" class="btn btn-light">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>